{% extends 'alumni/base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<div>
    {{ error }}
</div>
<form action = "
{% if aurl %}
    {{ aurl }}
{% else %}
    addpost
{% endif %}
" method = "POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table">
        {{ form.as_table }}
        {% for img_form in img_forms %}
            {{ img_form.as_table }}
        {% endfor %}
        {% if pid %}
        <input style="visibility: hidden;" type="text" name="pid" value="{{ pid }}">
        {% endif %}
    </table>
    <button class="btn btn-primary" type="submit">Post</button>
</form>
{% endblock %}