{% extends 'alumni/base.html' %}
{% load comments %}

{% block content %}
<div class="panel panel-info">
    <div class="panel-heading">
        <a href="post?pid={{ post.post_id }}"><h3>{{ post.title }}</h3></a>
            <p class="text-muted">
                <a href="users?uid={{ post.author.user.id }}">
                    {{ post.author.first_name }} 
                    {{ post.author.last_name }}
                </a>
                on
                {{ post.timestamp }}
            </p>
    </div>
    <div class="panel-body"> 
        {{ post.content }}
    </div>
    {% for img in post.images_set.all %}
    <a href="#" id="pop">
        <img id="imageresource" width="250px" src="{{ img.image.url }}" alt="{{ img.image.filename }}" class="img-thumbnail">
    </a>
    {% endfor %}
    <div class="panel-footer">
        Don't like this post? 
        <a href="block?by={{ request.user }}&&block={{ post.author.user }}">Block User</a> or 
        <a href="report/{{ post.post_id }}">Report Post</a>
    </div>
</div>
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: transparent;">
            <div class="modal-body">
                <img src="" id="imagepreview">
            </div>
        </div>
    </div>
</div>
{% get_comment_list for post as comment_list %}
<ul class="list-group">
    {% for comment in comment_list %}
        <li class="list-group-item">
            <a href="users?uid={{ comment.user.id }}">{{ comment.user }}: </a>
            {{ comment.comment }}
            {% ifequal comment.user.id request.user.id %}
                <p class="pull-right">
                    <a href="/deletecomment?cid={{ comment.id }}">
                        Delete
                    </a>
                </p>
            {% endifequal %}
        </li>
        <br>
    {% endfor %}
    {% if user.is_authenticated %}
        {% get_comment_form for post as form %}
        <form action="{% comment_form_target %}" method="POST">
            {% csrf_token %}
            {{ form.comment }}
            {{ form.content_type }}
            {{ form.object_pk }}
            {{ form.timestamp }}
            {{ form.security_hash }}
        <br>
        <br>
        <input type="hidden" name="next" value="/post?pid={{ post.post_id }}"/>
        <input type="submit" value="Add comment" id="id_submit" />
        </form>
    {% else %}
        <p>Please <a href="{% url 'auth_login' %}">log in</a> to leave a comment.</p>
    {% endif %}
</ul>
{% endblock %}