{% extends 'alumni/base.html' %}

{% block content %}
<div class="panel panel-info">
    <div class="panel-heading">
        <a href="post?pid={{ post.post_id }}"><h3>{{ post.title }}</h3></a>
            <p class="text-muted">
                <a href="users?uid={{ post.author.user.id }}">
                    {{ post.author.user.first_name }} 
                    {{ post.author.user.last_name }}
                </a>
                on
                {{ post.timestamp }}
            </p>
    </div>
    <div class="panel-body"> 
        {{ post.content }}
    </div>
    {% for img in post.images_set.all %}
    <a href="#" id="pop">
        <img id="imageresource" width="250px" src="{{ img.image.url }}" alt="{{ img.image.filename }}" class="img-thumbnail">
    </a>
    {% endfor %}
    <div class="panel-footer">
        Don't like this post? 
        <a href="block?by={{ request.user }}&&block={{ post.author.user }}">Block User</a> or 
        <a href="report/{{ post.post_id }}">Report Post</a>
    </div>
</div>
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: transparent;">
            <div class="modal-body">
                <img src="" id="imagepreview">
            </div>
        </div>
    </div>
</div>
{% endblock %}