{% extends 'alumni/base.html' %}

{% block content %}
<div class="panel panel-info">
    <div class="panel-heading">
        <a href="posts/{{ post.post_id }}"><h3>{{ post.title }}</h3></a>
            <p class="text-muted">
                <a href="users/{{ post.author.user }}">
                    {{ post.author.user.first_name }} 
                    {{ post.author.user.last_name }}
                </a>
                on
                {{ post.timestamp }}
            </p>
    </div>
    <div class="panel-body"> 
        {{ post.content|truncatechars:200 }}
    </div>
    {% for img in post.images_set.all %}
    <img width="250px" src="{{ img.image.url }}" alt="{{ img.image.filename }}" class="img-thumbnail">
    {% endfor %}
    <div class="panel-footer">
        Don't like this post? 
        <a href="block?by={{ request.user }}&&block={{ post.author.user }}">Block User</a> or 
        <a href="report/{{ post.post_id }}">Report Post</a>
    </div>
</div>
<br><br>
{% endblock %}